<h1>New {%= title %}</h1>
<form action="{{{urlRoot}}}/{%= name %}" method=POST>
  <p class=actions>
    <input type=submit value="Create {%= title %}">
    or
    <a href="{{{urlRoot}}}/{%= name %}">List {%= title %}s</a>
  </p>
</form>
